node_modules
# Keep environment variables out of version control
.env
.env.local
.env.development
.env.production
.env.development.local
.env.production.local


/dist
/src/generated/prisma
